<div class="login-box">
  <div class="login-logo">
    <a href="index.html"><b>Utepsa</b>APP</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Introduce tus datos para iniciar sesión</p>

    <form name="form" ng-submit="LoginController.login()">
      <div class="form-group has-feedback">
        <input type="tel" class="form-control" ng-model="LoginController.username" placeholder="Codigo de registro">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="LoginController.password"  placeholder="Contraseña">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input id="remember_me" type="checkbox"> Recuerdame
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button  class="btn btn-danger btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a href="#">Olvide mi contraseña</a><br>
    <a ui-sref="register" class="text-center">Registrarme en UtepsaApp</a>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<script>
  $(function () {
    $('#remember_me').iCheck({
      checkboxClass: 'icheckbox_flat-red',
      radioClass: 'iradio_flat-red',
      increaseArea: '20%' // optional
    });
  });
</script>