<!-- Content Header (Page header) -->
<div ng-controller="StudentProfileController">
     <div ng-show="spinnerStudentProfile">
         <div class="overlay"></div>
         <div class="spinner">
             <div class="double-bounce1"></div>
             <div class="double-bounce2"></div>
         </div>
         <div class="please-wait">Cargando Datos...</div>
     </div>
 <section class="content-header">
     <h1>
         Mi Perfil
     </h1>
     <ol class="breadcrumb">
         <li><a href ui-sref="notifications" ><i class="fa fa-dashboard"></i> Notificaciones</a></li>
         <li class="active">Mi Perfil</li>
     </ol>
 </section>

 <!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="images/avatar.png" alt="User profile picture">
                    <h3 class="profile-username text-center">{{studentProfile.userAccount}}</h3>
                    <p class="text-muted text-center">Codigo Agenda: {{studentProfile.agendaCode}}</p>

                    <!--  <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                          <b>Subjects</b> <a class="pull-right">46</a>
                        </li>
                        <li class="list-group-item">
                          <b>Summary Notes</b> <a class="pull-right">80.7 pts</a>
                        </li>
                      </ul>-->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.box -->
        <!-- About Me Box -->
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="fa fa-user box-title"> Acerca de mi</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div  class="col-md-6">
                        <strong><i class="fa fa-info-circle margin-r-5"></i> Nombres:</strong>
                        <p class="text-muted">{{studentProfile.name}}</p>

                        <strong><i class="fa fa-info-circle margin-r-5"></i> Apellidos:</strong>
                        <p class="text-muted">{{studentProfile.fatherLastName}} {{studentProfile.motherLastName}}</p>

                        <strong><i class="fa fa-calendar margin-r-5"></i> Fecha de Nacimiento:</strong>
                        <p class="text-muted">{{studentProfile.birthdate}}</p>

                        <strong><i class="fa fa-list-alt margin-r-5"></i> {{studentProfile.documentType}}:</strong>
                        <p class="text-muted">{{studentProfile.documentCode}}</p>

                    </div>
                    <div  class="col-md-6">
                        <strong><i class="fa fa-barcode margin-r-5"></i> Codigo de Registro:</strong>
                        <p class="text-muted">{{studentProfile.registerCode}}</p>

                        <strong><i class="fa fa-envelope margin-r-5"></i> Correo:</strong>
                        <p class="text-muted">{{studentProfile.email}}</p>

                        <strong><i class="fa fa-phone margin-r-5"></i> Telefono 1:</strong>
                        <p class="text-muted">{{studentProfile.phoneNumber1}}</p>

                        <strong><i class="fa fa-phone margin-r-5"></i> Telefono 2:</strong>
                        <p class="text-muted">{{studentProfile.phoneNumber2}}</p>
                    </div>
                    <hr>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
</div>