@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?47139815');
    src: url('../fonts/fontello.eot?47139815#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?47139815') format('woff2'),
    url('../fonts/fontello.woff?47139815') format('woff'),
    url('../fonts/fontello.ttf?47139815') format('truetype'),
    url('../fonts/fontello.svg?47139815#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;

    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;

    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-utepsa:before {
    content: '\e800';
    padding-top: 7px;
    font-size: 2.1em;
    padding-right: 2em;
}

.icon-utepsa-logo:before {
    content: '\e800';
    padding-top: 7px;
    font-size: 1.3em;
}
