<div ng-controller="HistoryNotesController">
    <div ng-show="spinnerHistoryNotes">
        <div class="overlay"></div>
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="please-wait">Cargando Datos...</div>
    </div>
    <section class="content-header">
        <h1>
            Historial de Notas
        </h1>
        <ol class="breadcrumb">
            <li><a href ui-sref="notifications" ><i class="fa fa-dashboard"></i> Notificaciones</a></li>
            <li class="active">Historial de Notas</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <div ng-controller="StudentProfileController">
                            <h3 class="profile-username text-center">Ingenieria de Sistemas</h3>
                            <p class="text-muted text-center">Codigo de Registro: {{studentProfile.registerCode}}</p>
                        </div>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-6" style="border-right: 1px solid #ccc;">
                                        <h2 class="numBig">{{itemshistoryNotes.length}}</h2><br>
                                        <span><b>Materias Cursadas</b></span><br>
                                    </div>
                                    <div class="col-xs-6">
                                        <h2 class="numBig">{{promNote()}}</h2><br>
                                        <span><b>Tu Promedio General</b></span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <span class="maprovada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Materias Aprobadas
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="mreprobada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Materias Reprobadas
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.box -->
            <!-- About Me Box -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <th class="text-center">Nota</th>
                                <th>Nombre de la Materia</th>
                            </thead>
                            <tbody ng-repeat="historyNote in itemshistoryNotes">
                                <tr  ng-class="{'color-red': historyNote.note <  historyNote.minimunNote,
                                                    'color-green': historyNote.note >=  historyNote.minimunNote}">
                                    <td class="text-center">{{historyNote.note}}</td>
                                    <td>{{historyNote.courseDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>