<div class="register-box">
    <div class="register-logo">
        <a href="index.html"><b>Utepsa</b>APP</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Registro de Estudiante</p>

        <form ng-submit="RegisterController.postCreateStudent()">
            <div class="form-group has-feedback">
                <input class="form-control" ng-model="RegisterController.ci" placeholder="Nro. de Carnet de Identidad" type="text">
                <span class="fa fa-list-alt  form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" ng-model="RegisterController.name" placeholder="Nombre(s)" type="text">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" ng-model="RegisterController.secondName" placeholder="Apellido(s)" type="text">
                <span class="fa fa-info-circle  form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" ng-model="RegisterController.registerCode" placeholder="Codigo de Registro" type="text">
                <span class="fa fa-barcode  form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" ng-model="RegisterController.email" placeholder="Correo Electronico" type="email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" ng-model="RegisterController.phoneNumber" placeholder="Numero de Telefono" type="text">
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button  class="btn btn-primary btn-block btn-flat">Registrar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a ui-sref="login" class="text-center">Actualmente ya estoy Registrado</a>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->