

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel" ng-controller="StudentProfileController">
        <div class="pull-left image">
          <img src="images/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{studentProfile.userAccount}}</p>
          <!-- Status -->
          <a><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <!-- <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
        <li><a ui-sref="notifications"  onclick="hideSidebar();"><i class="fa fa-newspaper-o"></i> <span>Inicio</span></a></li>
        <li><a ui-sref="historyNotes"  onclick="hideSidebar();"><i class="fa fa-list-ul"></i> <span>Historial de Notas</span></a></li>
        <li><a ui-sref="documentsStudent"  onclick="hideSidebar();"><i class="fa fa-files-o"></i> <span>Documentacion</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>