<!-- Content Header (Page header) -->
<div ng-controller="DocumentsStudentController">
    <div ng-show="spinnerDocumentsStudent">
        <div class="overlay"></div>
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        <div class="please-wait">Cargando Datos...</div>
    </div>
    <section class="content-header">
        <h1>
            Documentos
        </h1>
        <ol class="breadcrumb">
            <li><a href ui-sref="notifications" ><i class="fa fa-dashboard"></i> Notificaciones</a></li>
            <li class="active">Mis Documentos</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <div>
                            <h3 class="profile-username text-center" ng-if="numberDocuments() >= documentsStudentItems.length">Gracias por Entregar todos los documentos.</h3>
                            <h3 class="profile-username text-center" ng-if="numberDocuments() < documentsStudentItems.length">Porfavor entregar los documentos pendientes.</h3>
                        </div>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-12">
                                       <p class="numBig" style="display: inline-block">{{numberDocuments()}}</p><p style="display: inline-block; margin:0px -11px 0px 18px">/{{documentsStudentItems.length}}</p><br>
                                        <span><b>Documentos Entregados</b></span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <span class="maprovada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos Entregados
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="mreprobada">&nbsp;&nbsp;&nbsp;&nbsp;</span>Documentos Faltantes
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.box -->
            <!-- About Me Box -->
            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <th class="text-center">Tipo_Papel</th>
                                <th>Descripcion</th>
                            </thead>
                            <tbody ng-repeat="documentsStudent in documentsStudentItems">
                                <tr ng-class="{'color-red': documentsStudent.state == 'FALTA',
                                'color-green': documentsStudent.state == 'ENTREGADO'}">
                                    <td class="text-center">
                                        <span ng-if="documentsStudent.typeDocumentPaper == 'O'">Original</span>
                                        <span ng-if="documentsStudent.typeDocumentPaper == 'F'">Fotocopia</span>
                                        <span ng-if="documentsStudent.typeDocumentPaper.trim()==''">N/A</span>
                                    </td>
                                    <td>{{documentsStudent.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>
