    <section class="content-header">
      <h1>
        UTEPSA APP
        <small>Bienvenido a la aplicación de Utepsa.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Utepsa</a></li>
        <li class="active">Inicio</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row"  ng-controller="NotificationsController as nc">
        <div class="col-md-8">
          <!-- Your Page Content Here -->
            <div infinite-scroll='nc.loadMore()' infinite-scroll-disabled='nc.busy' infinite-scroll-distance='2'>
          <ul class="timeline">

              <!-- timeline time label -->
              <!-- <li class="time-label">
                  <span class="bg-red">
                      10 Feb. 2014
                  </span>
              </li> -->
              <!-- /.timeline-label -->

              <!-- timeline item -->
              <li ng-repeat="notification in nc.itemsNotifications track by notification.id">
                    <!-- timeline icon -->
                    <i class="fa fa-newspaper-o bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> {{notification.creationTimestamp * 1000| date:"dd MMMM 'de' yyyy  h:mma": 'UTC'}}</span>
                            <h3 class="timeline-header"><a href="#">{{notification.title}}</a> </h3>

                            <div class="timeline-body">
                                {{notification.content}}
                            </div>

                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal{{notification.id}}">Leer más</a>
                            </div>
                        <div id="myModal{{notification.id}}" class="modal fade" tabindex="-1"  role="dialog">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-center"><b>{{notification.title}}<b></h4>
                                <h5>{{notification.creationTimestamp * 1000| date:"dd MMMM 'de' yyyy  h:mma": 'UTC'}}</h5>
                              </div>
                              <div class="modal-body">
                                 <div class="row">
                                    <!--div class="col-md-6">
                                      <img src="http://thumbs.subefotos.com/0d3b3729b19bb6fce6f412acec143f46o.jpg" width="100%" height="100%" />
                                    </div-->
                                    <div class="col-md-6">
                                      <p>{{notification.content}}</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button-->
                              </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>
                  </li>
              <!-- END timeline item -->
          </ul>
                <div ng-show='{{nc.busy}}'> Cargando notificaciones...</div>
        </div>
        </div>
      </div>
    </section>
    <!-- /.content